In [1]:
#import default libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [5]:
#import data
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
combine = [train, test]
df = train.append(test)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

*** Features to explore:Sex,SibSp,Pclass,Parch,Age**

In [ ]:
#explore categorical categories:

In [ ]:
train[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
train[["SibSp", "Survived"]].groupby(['SibSp'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
train[["Pclass", "Survived"]].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
train[["Parch", "Survived"]].groupby(['Parch'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
#explore numerical category Age
#grid = sns.FacetGrid(train_df, col='Pclass', hue='Survived')
grid = sns.FacetGrid(train, col='Survived')
grid.map(plt.hist, 'Age', alpha=0.5, bins=20)
grid.add_legend();

In [7]:
train = train.drop(['Ticket', 'Cabin'], axis=1)
test = test.drop(['Ticket', 'Cabin'], axis=1)
df = df.drop(['Ticket', 'Cabin'], axis=1)

combine = [train, test]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 10 columns):
Age            1046 non-null float64
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
dtypes: float64(3), int64(4), object(3)
memory usage: 112.5+ KB

In [8]:
#exploring titles
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

df['Title'] = df.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
pd.crosstab(train['Title'], train['Sex'])

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

In [9]:
#Seting common titles
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    
df['Title'] = df['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

df['Title'] = df['Title'].replace('Mlle', 'Miss')
df['Title'] = df['Title'].replace('Ms', 'Miss')
df['Title'] = df['Title'].replace('Mme', 'Mrs')

In [ ]:
train['Title']

In [ ]:
#Study title feature
train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

In [10]:
#discretization of title
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)


df['Title'] = df['Title'].map(title_mapping)
df['Title'] = df['Title'].fillna(0)

In [11]:
train = train.drop(['Name', 'PassengerId'], axis=1)
test = test.drop(['Name'], axis=1)
df = df.drop(['Name', 'PassengerId'], axis=1)
combine = [train, test]
train.shape, test.shape

((891, 9), (418, 9))

In [12]:
for dataset in combine:
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

df['Sex'] = df['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

In [15]:
train['Age'].isna().sum()

0

In [17]:
train['Embarked'].isna().sum()

0

In [13]:
#filling null ages with median
for dataset in combine:
    dataset['Age'].fillna(dataset['Age'].median(),inplace=True)
    dataset['Age']=dataset['Age'].astype(int)
    
df['Age'].fillna(df['Age'].median(),inplace=True)

In [16]:
#filling null Embarked with most common plataform 'S'
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')

df['Embarked'] = df['Embarked'].fillna('S')

In [ ]:
#Study of Embarked Feature
train[['Embarked', 'Survived']].groupby(['Embarked'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [18]:
#Discretization of Embarked
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

df['Embarked'] = df['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
train.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked  Title
0         0       3    0   22      1      0   7.2500         0      1
1         1       1    1   38      1      0  71.2833         1      3
2         1       3    1   26      0      0   7.9250         0      2
3         1       1    1   35      1      0  53.1000         0      3
4         0       3    0   35      0      0   8.0500         0      1

In [19]:
#Casting Fare
for dataset in combine:
    dataset['Fare'] = dataset['Fare'].fillna(dataset['Fare'].median())
    dataset['Fare'] = dataset['Fare'].astype(float)
    
df['Fare'] = df['Fare'].fillna(df['Fare'].median())    
df['Fare'] = df['Fare'].astype(float)

train.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked  Title
0         0       3    0   22      1      0   7.2500         0      1
1         1       1    1   38      1      0  71.2833         1      3
2         1       3    1   26      0      0   7.9250         0      2
3         1       1    1   35      1      0  53.1000         0      3
4         0       3    0   35      0      0   8.0500         0      1

***Não categorizei a idade, apenas preenchi com a mediana
Não categorizei o preço do ticket
Não somei o tamanho da familia (SibSP + Parch) nem coloquei os sozinhos***

In [20]:
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [21]:
X_train = train.drop("Survived", axis=1)
Y_train = train["Survived"]
X_test  = test.drop("PassengerId", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((891, 8), (891,), (418, 8))

In [ ]:
X_test.info()

In [34]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

81.37

In [35]:
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('submissionLogReg.csv', index=False)

In [36]:
# Support Vector Machines

svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svm = round(svc.score(X_train, Y_train) * 100, 2)
acc_svm

91.47

In [37]:
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('submissionSVM.csv', index=False)

In [38]:
#knn
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

84.62

In [39]:
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('submissionKNN.csv', index=False)

In [ ]:
df['Title']

In [26]:
#Optimization of K in Knn NOT WORKING WELL
from sklearn.model_selection import GridSearchCV
k_list = list(range(1,31))
k_values = dict(n_neighbors=k_list)

grid = GridSearchCV(knn, k_values, cv=5, scoring='accuracy')
grid.fit(train.drop('Survived',axis=1),train['Survived'])
print("Melhor valor de k = {} com o valor {} de acurácia".format(grid.best_params_,grid.best_score_))

Melhor valor de k = {'n_neighbors': 11} com o valor 0.7205387205387206 de acurácia

In [40]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

98.2

In [41]:
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('submissionDT.csv', index=False)

In [42]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

98.2

In [43]:
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('submissionRandomForest.csv', index=False)

In [44]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines',
              'KNN',
              'Logistic Regression', 
              'Random Forest',
              'Decision Tree'],
    'Score': [acc_svm,
              acc_knn,
              acc_log, 
              acc_random_forest,
              acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                     Model  Score
3            Random Forest  98.20
4            Decision Tree  98.20
0  Support Vector Machines  91.47
1                      KNN  84.62
2      Logistic Regression  81.37